<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyChat | Create-Group</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <a class="btn btn-primary m-3" href="/">Back</a>
    <main class="d-flex flex-column align-items-center" style="min-height: 100vh;">
        <form id="form-create-group" class="signup-form p-2 bg-dark border border-danger-subtle border-1 rounded-2">
            <h3 class="mb-3 title">MyChat - Create Group</h3>        
            <div class="mb-3">
                <label class="text-white mb-2" for="group-name">Group Name</label>
              <input required class="form-control" type="text" placeholder="Name" id="group-name" name="group_name">
            </div>
            <div class="mb-3">
                <label class="text-white mb-2" for="group-description">Group Description</label>
              <input required class="form-control" type="text" placeholder="Description" id="group-description" name="group_description">
            </div>
            
            <button class="btn btn-success w-100">Create</button>       
        </form>
    </main>

    <footer class="p-4 text-center text-white">
        &copy; MyChat 2024
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
        integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/main.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>