<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyChat</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main class="container">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
          <form action="#" class="signup-form p-5">
            <h3 class="fw-bolder mb-3">MyChat</h3>
            <div class="mb-3">
              <input required class="form-control" type="text" placeholder="First Name" id="first-name" name="first-name">
            </div>
            <div class="mb-3">
              <input required class="form-control" type="text" placeholder="Last Name" id="last-name" name="last-name">
            </div>
            <div class="mb-3">
              <input required class="form-control" type="email" placeholder="example@email.com" id="email" name="email">
            </div>
            <div class="mb-3">
              <input required class="form-control" type="phone" placeholder="Phone" id="phone" name="phone">
            </div>
            <div class="mb-3">
              <input required class="form-control" type="password" placeholder="Password" id="password" name="password">
            </div>
            <div class="mb-3">
              <input required class="form-control" type="password" placeholder="Confirm Password" id="confirm-password" name="confirm-password">
            </div>
            <div>
              <button type="submit" class="btn btn-success w-100">Register</button>
            </div>
          </form>
        </div>
      </main>
      <footer class="p-4 text-center text-white">
        &copy; MyChat 2024
      </footer>
      
    <script src="/js/main.js"></script>
</body>
</html>