<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyChat</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link href="/font/bootstrap-icons.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="chat-body">
  <nav class="sidebard navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="container-fluid p-0 m-0 d-flex justify-content-center">
    <div class="template text-white d-flex flex-column align-content-between justify-content-between">
      <div class="chat-box" id="chat-box">
        <div class="chat-head bg-dark p-2 d-flex flex-row align-items-center gap-2">
          <div class="group-icon text-white fs-2">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="group-status d-flex flex-column">
            <p class="m-0 p-0">Web Development Group</p>
            <p class="m-0 p-0"><small>online</small></p>
          </div>
        </div>
        <div class="chat">
          <div id="message-box" class="message-box d-flex flex-column align-items-start p-3 gap-3">
          
          </div>
        </div>
      </div>
      <form id="message-form">
        <div class="input-group w-100 mb-3 px-3">
          <input type="text" name="message" id="message" autocomplete="off" class="form-control" placeholder="Type Message" aria-label="Recipient's username"
            aria-describedby="button-addon2">
          <button class="btn btn-primary" type="submit" id="button-addon2"><strong><i class="bi bi-send"></i>
              Send</strong></button>
        </div>
      </form>
    </div>
  </main>
  <footer class="p-4 text-center text-white">
    &copy; MyChat 2024
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
    integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/main.js"></script>
  <!-- <script src="/js/personal-chat.js"></script> -->
</body>

</html>

